#responce_div {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.342);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#responce_div div {
    width: 100%;
    max-width: 700px;
    min-height: 300px;
    font-size: 23px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
}

#responce_div button {
    width: 100px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}

#responce_div button:hover {
    scale: 1.02;
}

#responce_div button:active {
    scale: 0.98;
}